
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}



table {
    width: 60%;
    margin: 20px auto;
    border:none;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #dddddd;
}

th {
    background-color: black;
    color: white;
}


